
<div style = "margin-top:-105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow:0 5px 5px 0 gray">
            
            <i class="bi bi-code-slash"></i>
            <h3>Programación</h3>
            <p>Dentro de mi carrera he utilizado distintos lenguajes de programación y herramientas. También me intereso
                en expandir mis concimientos mediante cursos ajenos a la universidad.</p>
            
            <p class="text-primary cabecera">Lenguajes/Herramientas</p>
            <p>Pascal, Smalltalk (POO), LISP, Prolog, HTML, CSS, Bootstrap, JS, C#, ASP.NET MVC, SQL Server, Github</p>
            
            <p class="text-primary cabecera">Experiencias</p>
            <ul>
                <li>Back-End en C# con ABP Framework</li>
                <li>Front-End con HTML, CSS, Bootstrap y JS</li>
                <li>Interprete para un Lenguaje de Programación</li>
            </ul>

        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0; box-shadow:0 5px 5px 0 gray">
            <i class="bi bi-collection"></i>
            <h3>Análisis y Diseño de Sistemas</h3>
            <p>Es el principal foco de mi carrera. Durante dos años nos centramos en el análisis y diseño de los
                sistemas de información.</p>
            

            <br>
            <p class="text-primary cabecera">Herramientas</p>
            <p>UML, Astah, Figma</p>
            
            <br>
            <p class="text-primary cabecera">Experiencias</p>
            <ul>
                <li>Diagrama de Casos de Uso</li>
                <li>Diagrama de Clases</li>
                <li>Especificaciones de Casos de Uso</li>
                <li>Interfaces de Usuario</li>
                <li>Principios SOLID</li>
                <li>Patrones de Diseño</li>
                <li>Diseño de UI</li>
            </ul>

        </div>


    </div>
</div>