<div class="text-center">
    <h1 class="display-4">Soy Juan Chiappella</h1>
    <h2>Soy un Estudiante de Ingeniería en Sistemas de Información</h2>


    <img id="foto" src='~/images/gojira.jpg' alt="Foto de Prueba" />

</div>

<div class="text-center">
    <img id="foto-utn" src='~/images/images.jfif' alt="Foto de Prueba" />
</div>

<div>
    <div class="row justify-content-md-center text-center fondoPresen">
        <div class="col col-md-7 seccion-bienvenida">
            <h1>
                Este es mi portafolio
            </h1>
            <p>
                Soy estudiante de Ingeniería en Sistemas de Información desde 2021. Este viaje me hizo aprender sobre
                Análisis y Diseños de Sistemas, Paradigmas de la Programación, Bases de Datos SQL, etc.
            </p>
        </div>
    </div>
</div>